
{% block title %}
<title>Login Page</title>
{% endblock title %}

{% include 'myHome/navbar.html' %}

{%block content %}
    
    <div class="container">
        <br>
        <h2>LOGIN PAGE</h2>
        {%if messages %}
            {%for message in messages %}
            <div class="alert alert-info alert-dismissible fade show"  role="alert">
                {{message | upper}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
        {%endif %}

        <form method="POST" class="col-6 mt-5">
            {% csrf_token %}
            {{ form.as_p}}
           <center> <button type="submit" class="btn btn-info mt-2 mb-5">Login</button></center>
        </form>
    </div>
{%endblock content %}

{% include 'myHome/footer.html' %}

