{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="{% static 'product.css' %}">
</head>
<body>
  {% include 'myHome/navbar.html' %}

    {%block content %}
        {% for obj in crops%}
            <h1> Hello : {{ obj.crop_owner.name }}</h1>
            <h1> Crop Selling : {{obj.crop_name}}</h1>
            <h1> Crop Quantity : {{ obj.crop_quantity }}</h1>
            <h1> Crop Price/Kg : {{obj.crop_price }}</h1>
            <h1> Request to sell/Approved Request : {{obj.approved }}</h1>
            <h1>------------------------------------------------------------</h1>
        {% endfor %}
    {%endblock content %}
</body>
</html>