
{% include 'myHome/navbar.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>
                <center> <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   {{ form.as_p }}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit/Apply" /><br>
                    <a href="{% url 'check_status' %}">Check Status</a>
                </form> </center>
            
            </div>
        </div>
    </main>

{% endblock content %}
{% include 'myHome/footer.html' %}